.resultTable
{
    border-collapse: collapse;
    border: 1px solid black;
    /*margin-top: 60px;*/
}

.resultTable th,
.resultTable td
{
    border: 1px solid black;
}

.resultTable .col-oldUrl,
.resultTable .col-newUrl,
.resultTable .col-retUrl
{
    min-width: 450px;
    max-width: 450px;
    word-break: break-all;
}
.resultTable .col-oldCode,
.resultTable .col-newCode
{
    width: 40px;
    text-align: center;
}

.resultTable .col-btns
{
    /*width: 70px;*/
    text-align: center;
}
.resultTable .col-btns.new
{
    min-width: 70px;
}
.resultTable .col-index
{
    width: 40px;
    text-align: center;
}

.progressBar
{
    background-color:rgb(216,216,216);
    border: 1px solid rgb(127,127,127);
    border-radius:5px;
    width:155px;
    height:24px;
    margin:10px;
    position:relative;
    display: inline-block;
}

.progress
{
    position:absolute;
    height: 100%;
    background-color: seagreen;
}

.progressLabel
{
    position:absolute;
    width:100%;
    height:100%;
    vertical-align:middle;
    text-align:center;
}

.code-0
{
    background-color: #918151;
}
.code-200
{
    background-color: #ACE1AF;
}
.code-301
{
    background-color: #4682B4;
}
.code-302
{
    background-color: #4682B4;
}
.code-404
{
    background-color: #CD5700;
}

.btnRefresh
{
    background:url(img/glyphicons-halflings.png) no-repeat -238px -23px;
    width: 20px;
    height: 20px;
}

.btnObj
{
    background:url(img/glyphicons-halflings.png) no-repeat -263px 1px;
    width: 20px;
    height: 20px;
}

.btnUrl
{
    background:url(img/glyphicons-halflings.png) no-repeat -216px -119px;
    width: 20px;
    height: 20px;
}

.panel
{
    position: fixed;
    height: 40px;
    width: 100%;
    background-color: #eee;
    top: 0;
    left: 0;
}

.spacer
{
    clear:both;
    margin-bottom: 60px;
}

.retUrlSame
{
    background-color: #ACE1AF;
}
.retUrlNotSame
{
    background-color: #CD5700;
}

a.btn
{
    display: block;
    float: left;
    margin: 10px 10px;
}

.popup
{
    position: absolute;
    display: none;
    background-color:rgb(216,216,216);
    border: 1px solid rgb(127,127,127);
    border-radius:5px;
    min-width: 150px;
    min-height: 150px;
}